{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3",
                "targets": {
                        "edge": "17",
                        "firefox": "22",
                        "chrome": "32",
                        "safari": "6",
                        "ie": "8"
                }
            }
        ]
    ]
}