$blue: #5492CE;
$black: #000000;
$white: #ffffff;

$btn-dot: #5492CE;
$btn-dot-white: #ffffff;

$menu-padding: 70px;
$menu-mobile-height: 100px;
$menu-mobile-height-sm: 80px;

$vline-titles-pl: 54px;

$vline-titles-pl-1279: 25px;

$vline-titles-pl-767: 133px;

$vline-titles-pl-479: 42px;
