.btn {
    min-width: 206px;
    min-height: 51px;
    padding: 10px 42px 10px 67px;

    border-radius: 32px;

    white-space: nowrap;
    font-size: 25px;
    color: $white;
    line-height: 2;
    background-color: transparent;

    position: relative;
    overflow: hidden;
    z-index: 1;

    & span {
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color: $btn-dot;
            border-radius: 50%;
            
            position: absolute;
            left: -15px;
            top: 50%;
            z-index: 2;
            transform: translate3d(-100%, -60%, 0);
        }
    
    }

    &:after {
        content: "";
        display: block;
        width: 0px;
        height: 0px;

        border-radius: 32px;
        background-color: $btn-dot;

        position: absolute;
        left: 37px;
        top: 50%;
        z-index: -1;
            
    }
    

    &:hover {
        text-decoration: none;
        color: $black;
        transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1);


        &:after {
            background-color: $white;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.3s cubic-bezier(0.37, 0, 0.63, 1);
        }
    }


    @media (max-width: 479px) {
        min-width: 161px;
        padding: 10px 42px 10px 67px;

        padding-right: 20px;
        padding-left: 45px;

        &:before {
            left: 15px;
        }
    }

    &--menu {
        padding: 0 20px 0 47px;
        min-width: 0;
        
        &:before {
            left: 17px;
        }
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            color: $black;
            &:after {
                background-color: #A4A4A4;
            }
        }

        & span {
            display: inline-block;
            vertical-align: -10%;
        }
        
        @media (max-width: 999px) {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        @media (max-width: 767px) {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            & span {
            display: inline-block;
            vertical-align: -15%;
        }
        }

        @media (max-width: 479px) {
            font-size: 18px;
            min-height: 35px;

            &:before {
                transform: translate3d(0, -50%, 0);
            }
        }

    }

    &--white-dot {
        padding-top: 0;
        padding-bottom: 0;
        &:hover {
            color: $black;
            &:after {
                background-color: #A4A4A4;
            }
        }
        & span {
            &:before {
                background-color: $btn-dot-white;
            }
        }

        &:after {
            background-color: $btn-dot-white;
        }

        @media (max-width: 999px) {
            padding: 0px 31px 0px 55px;
        }

        @media (max-width: 767px) {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            min-height: 35px; 
            padding-bottom: 0;
            padding-top: 0;
        }

        @media (max-width: 479px) {
            font-size: 18px;

            &:before {
                transform: translate3d(0, -50%, 0);
            }
        }
    }

    &--projects {
        @media (max-width: 479px) {
            font-size: 18px;
            min-height: 35px;

            &:before {
                transform: translate3d(0, -50%, 0);
            }
        }
    }

    &--news, &--notice {
        min-width: 250px;
        overflow: visible;
        padding: 15px 45px;

        position: absolute;
        bottom: -100px;
        left: calc(50% - 400px);
        z-index: 5;
        border: 2px solid transparent;
        line-height: 1;

        background-color: $black;

        transition: background-color .3s cubic-bezier(0.37, 0, 0.63, 1);

        &:before, &:after {
            position: absolute;
            content: "";
            display: block;
            border-radius: 0;
            background-color: $black;
            width: 2px;
            height: 50px;
            top: 0px;

            z-index: 2;

            transform-origin: 50% 0 0;
            transform: rotate(180deg);
        }

        &:before {
            left: 20px;
        }

        &:after {
            left: auto;
            right: 20px;
        }

        & span {
            position: relative;

            &:before, &:after {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                background-color: $white;
                border-radius: 50%;
                
                position: absolute;
                top: 50%;
                z-index: 2;
                transform: translate3d(100%, -50%, 0); 
                
                transition: background-color .3s cubic-bezier(0.37, 0, 0.63, 1);
            }

            &:before {
                transform: translate3d(-100%, -60%, 0);
                left: -15px;
            }

            &:after {
                right: -15px;
                top: 50%;
                z-index: 2;
                transform: translate3d(100%, -60%, 0);   
            }
        }

        &:hover {
            background-color: $white;
            border: 2px solid $black;

            &:after {
                background-color: $black;
                width: 2px;
                height: 50px;
                top: 0px;
                left: auto;
                right: 20px;
            }

            & span {
                &:before, &:after {
                    background-color: $black;
                }
            }
          
        }
    }

    &--coop {
        position: static;
        padding: 15px 70px;
    }

    &--coop-active {
        background-color: $white;
        border-color: $black;
        color: $black;

        & span {
            &:before, &:after {
                background-color: $black;
            }
        }
    }

    &--projects-main {
        left: calc(50% + #{$menu-padding / 2});
        transform: translate3d(-50%, 0, 0);
    }

    &--team {
        color: $black;
        font-size: 16px;
        min-width: 87px;
        padding: 5px 10px 5px 15px;

        &:after {
            left: 0;
            background-color: $white;
        }

        & span {
            &:before {
                width: 9px;
                height: 9px;
                left: -1px;
                border: 1px solid $black;
                background-color: white;
            }
        }

        &:hover {
            color: $white;
            &:after {
                background-color: $black;
            }
        }
        
    }

    &--notice {
        padding: 15px 70px;
        position: static;
        background-color: #A4A4A4;
        color: $black;
        align-self: flex-end;

        

        &:before {
            display: none;
        }
        &:after {
            display: none;
        }

        & span {

            &:before, &:after {
                background-color: $black;
            }
        } 

        &:hover {
            border-color: #A4A4A4;
        }
    
    }

    &--submit {
        padding: 10px 45px;
        max-width: 279px;
        margin-top: 65px;
        align-self: flex-start;

        font-family: Roboto;
        font-weight: 400;
        font-size: 28px;
        font-size: 28px;
        border: none;
        
        & span {
            &:before, &:after {
                background-color: $blue;

                transform: translate3d(-100%, -40%, 0);
            }

            &:before {
                transform: translate3d(-100%, -40%, 0);
            }

            &:after {
                transform: translate3d(100%, -40%, 0);
            }
        }

        &:hover {
            background-color: $white;
            border: none;
            & span {
                &:before, &:after {
                    background-color: $blue;
                }
            }
        }
    }

    &--one-project {
        background-color: $white;
        border: none;
        align-self: center;
        &:hover {
            background-color: #A4A4A4;
            border: none;
        }
    }

    &--one-project-social {
        padding: 0px 25px 0px 45px;
        min-height: 35px;
        min-width: 105px;
        font-size: 21px;
        
        & span {
            vertical-align: -5%;
        }

        &:hover {
            & span {
                &:before {
                    background-color: $blue;
                }
            }
        }
    }

    &--one-news {
        padding: 15px 55px;
        color: $white;
        background-color: $black;
        border: 2px solid $black;
        align-self: center;

        & span {
            &:before, &:after {
                background-color: $white;
            }
        }
    
        &:hover {
            background-color: $white;
            border: 2px solid $black;
        }
    }

    &--one-news-social {
        color: $black;

        & span {
            &:before {
                background-color: black;
            }
        }
    }

    &--all-projects, &--all-news {
        padding: 15px 55px;
    }

    &--all-projects {
        background-color: black;
        color: white;

        & span {
            &:before, &:after {
                background-color: $white;
            }
        }

        &:hover {
            border-color: $black;
        }

    }

    &--allnews-card {
        color: $black;
        &:hover {
            color: $white;
            &:after {
                background-color: $black;
            }
        }
    }

    &--all-news-social {
        color: $white;

        & span {
            &:before {
                background-color: $white;
            }
        }
    }
 
    @media (max-width: 1279px) {
        &--team {
            font-size: 14px;
            padding: 0px 5px 0px 10px;
            min-height: 0;
        }

        &--news {
            left: calc(50% - 300px);
        }

        &--projects-main {
            left: 50%;
        }

        &--notice {
            padding: 10px 55px;
            align-self: center;
            & span {
                vertical-align: -5%;
            }
        }

        &--submit {
            padding: 15px 45px;
            align-self: flex-start;
        }

        &--all-projects, &--all-news {
            padding: 15px 55px;
        }
    }

    @media (max-width: 999px) {
        &--news {
            left: calc(#{$menu-padding / 2} + 50%);

            transform: translate3d(-50%, 0, 0);
        }

        &--notice {
            padding-left: 40px;
            padding-right: 0;
            min-width: 200px;
            align-self: flex-end;

            background-color: $white;
            
            &:hover {
                background-color: #A4A4A4;
            }

            & span {
                &:before {
                    left: -10px;
                }
                &:after {
                    display: none;
                }
            }
        }

        &--submit {
            padding: 15px 45px;
            align-self: flex-start;
            background-color: #A4A4A4;
            & span {
                &:before {
                    left: -10px;
                }
                &:after {
                    right: -10px;
                    display: block;
                }
            }

            &:hover {
                background-color: $white;
            }
        }

        &--one-project {
            padding: 15px 45px;
            align-self: center;

            background-color: $white;
            & span {
                &:before {
                    left: -10px;
                }
                &:after {
                    right: -10px;
                    display: block;
                }
            }
        }

        &--one-project-social {
            padding-top: 0;
            padding-bottom: 0;
        }

        &--one-news {
            margin-top: 50px;
            color: $white;
            background-color: $black;
            border: 2px solid $black;
            align-self: center;
    
            & span {
                &:before, &:after {
                    background-color: $white;
                }
            }
        
            &:hover {
                background-color: $white;
                border: 2px solid $black;
            }
        }

        &--all-projects, &--all-news {
            padding: 15px 55px;
            

            & span {

                &:after {
                    display: block;
                }
            }

            
        }

        &--all-projects {
            background-color: black;
            color: $white;

            & span {
                &:before, &:after {
                    background-color: $white;
                }
            }

            &:hover {
                border-color: $black;
                background-color: $white;
            }
        }

        &--all-news {
            background-color: #A4A4A4; 
            color: $black;

            & span {
                &:before, &:after {
                    background-color: $black;
                }
            }

            &:hover {
                border-color: $white;
                background-color: $white;
                color: $black;
            }
        }

        &--all-projects-social, &--all-news-social {
            padding: 0 15px 0 30px;

            & span {
                &:before {
                    left: -5px;
                }
            }
        }
        
    } 

    @media (max-width: 767px) {
        &--news {
            bottom: -80px;
            left: 50%;
        }

        &--notice {
            align-self: center;
            margin-top: 55px;
        }

        &--submit {
            font-size: 18px;
        }

        &--contact {
            font-size: 17px;
            min-width: 136px;
            padding: 0px 10px 0px 40px;

            & span {
                vertical-align: -5%;
            }
        }

        &--one-project {
            margin-top: 0;
        }

        &--one-news {
            margin-top: 60px;
            color: $white;
            background-color: $black;
            border: 2px solid $black;
            align-self: center;
    
            & span {
                &:before, &:after {
                    background-color: $white;
                }
            }
        
            &:hover {
                background-color: $white;
                border: 2px solid $black;
            }
        }
    }

    @media (max-width: 479px) {
        &--news {
            min-width: 210px;
            font-size: 18px;
        }

        &--notice {
            align-self: center;
            margin-top: 26px;
        }

        &--footer {
            padding-right: 40px;
            background-color: #A4A4A4;

            & span {
                &:after {
                    display: block;

                }
            }

            &:hover {
                background-color: $white;
                border-color: $white;
            }
        }

        &--one-project {
            font-size: 20px;
            margin-top: 0;
        }

        &--one-news {
            margin-top: 60px;
            font-size: 18px;
        }

        &--one-news-social {
            font-size: 18px;
        }

        &--all-projects, &--all-news {
            font-size: 20px;
        }
    }
}