.coop {
    margin-top: 179px;
    padding-bottom: 112px;

    @media (max-width: 1279px) {
        margin-top: 168px;
        padding-bottom: 66px;
    }
    
    @media (max-width: 999px) {
        margin-top: 183px;
        padding-bottom: 106px;
    }
    
    @media (max-width: 767px) {
        margin-top: 136px;
        padding-bottom: 69px;
    }
    
    @media (max-width: 479px) {
        margin-top: 160px;
        padding-bottom: 78px;
    }
}

.coop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.coop-header__desc {
    max-width: 360px;
    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: $black;

    @media (max-width: 1279px) {
        max-width: 225px;
        font-size: 20px;
    }
    
    @media (max-width: 767px) {
        margin-top: 50px;
        max-width: none;
    }
    
    @media (max-width: 479px) {
        margin-top: 20px;
        font-size: 18px;
    }
} 

.coop-list {
    padding-top: 157px;
    display: flex;
    flex-direction: column;
    max-width: 1065px;
    margin: 0 auto;

    @media (max-width: 1279px) {
        align-items: center;
        max-width: 785px;
        
    }

    @media (max-width: 999px) {
        max-width: 628px;
    }

    @media (max-width: 767px) {
        max-width: 410px;
    }

    @media (max-width: 479px) {
        max-width: 270px;
    }
}

.coop-list__el {
    width: 130px;
    height: 130px;
    margin-top: 75px;
    display: flex;
    align-self: flex-start;
    align-items: center;

    border: 3px solid transparent;
    border-radius: 62px;
    background-color: $black;

    position: relative;

    transition: width .3s ease-out;

    &:first-child {
        margin-top: 0px;

        .coop-list__el-number {
            &:before {
                display: none;
            }
        }
        
    
        &:before {
            content: "";
            display: block;
            width: 2px;
            height: 100px;

            background-color: $black;

            position: absolute;
            top: 0;
            left: 60px;
            z-index: -2;

            transform-origin: 50% 0 0;
            transform: translate3d(-50%, 0, 0) rotate(180deg);

        }

        &:after {
            content: "";
            display: block;
            width: 35px;
            height: 35px;

            background-color: $blue;
            border-radius: 50%;
            border: 2px solid #000;

            position: absolute;
            left: 60px;;
            top: -110px;

            transform: translate3d(-50%, 0, 0);
        }
    }

    &:nth-child(odd) {
        
        .coop-list__el-number {
            &:before {
                width: 2px;
                height: 161px;
                left: 50%;
                bottom: 100%;
            }

            &:after {
                width: 893px;
                height: 2px;
    
                top: 50%;
                left: 100%;

            }   
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        align-self: flex-end;

        .coop-list__el-number {
            &:before {
                width: 2px;
                height: 160px;
                left: 50%;
                bottom: 100%;
            }

            &:after {
                height: 2px;
                width: 890px;

                top: 50%;
                right: 100%;
            }
            
        }

    }

    &:nth-child(5) {
        .coop-list__el-number {
            &:after {
                width: 830px;
            }
        }
    }

    &--active {
        width: 725px;
        /*  background-color: $white;*/        
        border: 3px solid $black;
        transition: all .3s ease-out;

        /*  .coop-list__el-number {
            background-color: $black;
            color: $white;
        }

        .coop-list__el-text {
            color: $black;
        }*/        
        .coop-list__el-text {
            transition-delay: .3s;
            transform: scale(1,1);
        }
    }

    @media (max-width: 1279px) {
        &:nth-child(odd) {
            .coop-list__el-number {
                &:after {
                    width: 613px;
                }
            }
        }

        &:nth-child(even) {
            .coop-list__el-number {
                &:after {
                    width: 611px;
                }
            }
        }

        &:nth-child(5) {
            .coop-list__el-number {
                &:after {
                    width: 551px;
                }
            }
        }

        &--active {
            width: 625px;
        }

    }

    @media (max-width: 999px) {
        &:nth-child(odd) {
            .coop-list__el-number {
                &:after {
                    width: 456px;
                }
            }
        }

        &:nth-child(even) {
            .coop-list__el-number {
                &:after {
                    width: 453px;
                }
            }
        }

        &:nth-child(5) {
            .coop-list__el-number {
                &:after {
                    width: 392px;
                }
            }
        }

        &--active {
            width: 550px;
        }

    }

    @media (max-width: 767px) {
        margin-top: 60px;

        &:nth-child(odd) {
            .coop-list__el-number {
                &:before {
                    height: 145px;
                }
                &:after {
                    width: 238px;
                }
            }
        }

        &:nth-child(even) {
            .coop-list__el-number {
                &:before {
                    height: 145px;
                }
                &:after {
                    width: 236px;
                }
            }
        }

        &:nth-child(5) {
            .coop-list__el-number {
                &:after {
                    width: 195px;
                }
            }
        }

        &--active {
            width: 100%;
        }

    }

    @media (max-width: 479px) {
        &:nth-child(odd) {
            .coop-list__el-number {
                &:after {
                    width: 98px;
                }
            }
        }

        &:nth-child(even) {
            .coop-list__el-number {
                &:after {
                    width: 96px;
                }
            }
        }

        &:nth-child(5) {
            .coop-list__el-number {
                &:after {
                    width: 27px;
                }
            }
        }
    }

}

.coop-list__el-number {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin: 12px;


    background-color: $white;
    color: $black;
    border-radius: 50%;
    border: 6px solid $blue;
    position: relative;

    &:before, &:after {
        content: "";
        display: block;

        background-color: $black;
        position: absolute;
        z-index: -4;
    }

    & span {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 42px;
        line-height: 1;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0);
    }

}

.coop-list__el-text {
    max-width: 520px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1;
    transition: transform .3s ease-out;
    transform: scale(0, 0);
    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 25px;
    color: $white;

    @media (max-width: 1279px) {
        max-width: 410px;
    }

    @media (max-width: 999px) {
        max-width: 348px;
        font-size: 20px;
    }

    @media (max-width: 767px) {
        max-width: 217px;
        font-size: 18px;

        &--coop-text-hide {
            & span {
                display: none;
            }
        }
    }

    @media (max-width: 479px) {
        max-width: 90px;
        font-size: 17px;
    }

}

.coop__btn-wrapper {
    margin-top: 95px;
    align-self: flex-end;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 2px;
        height: 160px;
        background-color: $black;

        position: absolute;
        
        left: 50%;
        bottom: 100%;
        z-index: -4;
    }

    @media (max-width: 767px) {
        margin-top: 75px;

        &:before {
            height: 140px;
        }
    }

    @media (max-width: 479px) {
        align-self: center;
    }

}

.coop-line-wrapper {
    position: relative;
}

