.coop {
    margin-top: 179px;

    @media (max-width: 1279px) {
        margin-top: 168px;
    }
    
    @media (max-width: 999px) {
        margin-top: 183px;
    }
    
    @media (max-width: 767px) {
        margin-top: 136px;
    }
    
    @media (max-width: 479px) {
        margin-top: 160px;
    }
}

.coop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.coop-header__desc {
    max-width: 360px;
    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: $black;

    @media (max-width: 1279px) {
        max-width: 225px;
        font-size: 20px;
    }
    
    @media (max-width: 767px) {
        margin-top: 50px;
        max-width: none;
    }
    
    @media (max-width: 479px) {
        margin-top: 20px;
        font-size: 18px;
    }
} 

.coop-list {
    padding-top: 157px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1279px) {
        margin-bottom: 120px;
        align-items: center;
    }
}

.coop-list__el {
    margin-top: 70px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: 15px;
    padding-right: 70px;

    border: 3px solid transparent;
    border-radius: 62px;
    background-color: $black;

    position: relative;

    &:first-child {
        margin-top: 0px;

        &:before {
            content: "";
            display: block;
            width: 2px;
            height: 185px;

            background-color: $black;

            position: absolute;
            top: 0;
            left: 90%;
            z-index: -2;

            transform-origin: 50% 0 0;
            transform: translate3d(-50%, 0, 0) rotate(180deg);

        }

        &:after {
            content: "";
            display: block;
            width: 35px;
            height: 35px;

            background-color: $blue;
            border-radius: 50%;
            border: 2px solid #000;

            position: absolute;
            left: 90%;
            top: -190px;

            transform: translate3d(-50%, 0, 0);
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        align-self: flex-end;
        padding-right: 15px;
        padding-left: 70px;
    }


    &--active {
        background-color: $white;
        border: 3px solid $black;
        transition: all .3s ease-out;

        .coop-list__el-number {
            background-color: $black;
            color: $white;
        }

        .coop-list__el-text {
            color: $black;
        }

    }

    @media (max-width: 1279px) {
        &:first-child {
            &:before {
                left: 70%;
            }

            &:after {
                left: 70%;
            }
        }
        
        align-self: auto;

        &:nth-child(even) {
            align-self: auto;
            padding-left: 40px;
            margin-left: 75px;
        }
        &:nth-child(odd) {
            padding-right: 40px;
            margin-right: 90px;
        }
    }

    @media (max-width: 999px) {
        width: 530px;

        &:first-child {
            &:before {
                height: 90px;
                z-index: -4;
            }

            &:after {
                top: -95px;
                z-index: -2;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 2px;
            height: 100px;

            background-color: $black;

            position: absolute;
            top: 100%;
            left: 70%;
            z-index: -4;
            transform-origin: 50% 0 0;
            transform: translate3d(-50%, 0, 0);
        }

        &:nth-child(2) {
            &:before {
                content: "";
                display: block;
                width: 2px;
                height: 100px;

                background-color: $black;

                position: absolute;
                top: 0;
                left: 70%;
                z-index: -4;

                transform-origin: 50% 0 0;
                transform: translate3d(-50%, 0, 0) rotate(180deg);
            }
        }

        &:nth-child(even) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
        }
        &:nth-child(odd) {
            padding-right: 0;
            padding-left: 0;
            margin-right: 0;
        }

        &:nth-child(4) {
            justify-content: space-between;
        }

        &--active {
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }
    }

    @media (max-width: 767px) {
        width: 395px;
    }

    @media (max-width: 479px) {
        width: 270px;
    }
}

.coop-list__el-number {
    width: 100px;
    height: 100px;
    flex-shrink: 0;


    background-color: $white;
    color: $black;
    border-radius: 50%;
    border: 6px solid $blue;
    position: relative;

    & span {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 42px;
        line-height: 1;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0);
    }

    @media (max-width: 999px) {
        margin-right: 15px;
        margin-left: 15px;
    }

    @media (max-width: 479px) {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.coop-list__el-text {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1;

    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 25px;
    color: $white;

    @media (max-width: 1279px) {
        &--coop-max-w {
            max-width: 524px;
        }
    }

    @media (max-width: 999px) {
        font-size: 20px;
        max-width: 369px;
        padding-right: 15px;
        padding-left: 15px;
        &--coop-max-w {
            & span {
                display: none;
            }
        }
    }

    @media (max-width: 767px) {
        font-size: 18px;
    }

    @media (max-width: 479px) {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 17px;
    }

}

.svg-coop {
    position: absolute;

    &--odd {
        left: 100%;
        top: 50%;
        z-index: -2;
    }

    &--even {
        right: 95%;
        top: 50%;
        z-index: -2;
    }

    @media (max-width: 1279px) {
        &--odd {
            left: 66%;
        }

        &--even {
            right: 68%;
        }

        &--1279-offset {
            right: 80%;
        }
    }

    @media (max-width: 999px) {
        display: none;
    }
}

.coop__btn-wrapper {
    margin-top: 70px;
    align-self: flex-end;
    position: relative;

    @media (max-width: 1279px) {
        align-self: auto;
    }

}

.coop-line-wrapper {
    position: relative;
}

