.error404-block {
    padding: 50px 100px 131px 100px;

    background-color: $black;
    color: $blue;

    overflow-y: auto;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    
    @media (max-width: 1279px) {
        padding: 50px 53px 125px 90px;
    }

    @media (max-width: 999px) {
        padding: 40px 65px 146px 90px;
    }

    @media (max-width: 767px) {
        padding: 30px 115px 97px 115px;
    }

    @media (max-width: 479px) {
        padding: 25px 44px 63px 44px;
    }   
}

.error404-wrapper {
    margin-top: 96px;
    display: flex;

    justify-content: center;

    @media (max-width: 999px) {
        flex-direction: column;
        align-items: center;
    }
}


.error404-block__img {
    width: 549px;
    margin-right: 30px;

    @media (max-width: 1279px) {
        width: 401px;
    }

    @media (max-width: 999px) {
        width: 260px;
        margin-right: 0;
    }

    @media (max-width: 767px) {
        width: 250px;
    }

    @media (max-width: 479px) {
        width: 230px;
    }
}

.error404__logo-img {
    width: 100px;
    
    @media (max-width: 1279px) {
        width: 90px;
    }
    
    @media (max-width: 999px) {
        width: 80px;
    }
    
    @media (max-width: 767px) {
        width: 70px;
    }
    
    @media (max-width: 479px) {
        width: 50px;
    }
}

.error404-block-col {
    @media (max-width: 999px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.error404__number {
    line-height: 1;
    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 96px;

    @media (max-width: 1279px) {
        font-size: 70px;
    }

    @media (max-width: 999px) {
        font-size: 40px;
        margin-top: 50px;
    }

    @media (max-width: 767px) {
        font-size: 40px;
        margin-top: 30px;
    }
}

.error404__subtitle {
    margin-top: 50px;

    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;

    &--arrow {
        position: relative;
    }

    .error404__btn {
        position: absolute;
        top: 200%;
        left: 50%;
    }

    @media (max-width: 1279px) {
        margin-top: 20px;
        font-size: 36px;
        line-height: 44px;
        max-width: 453px;
    }

    @media (max-width: 999px) {
        .error404__btn {
            margin-top: 50px;
            position: static;
        }
    }

    @media (max-width: 999px) {
        font-size: 24px;
        line-height: 130%; 
        text-align: center; 
    }

    
}   

.error404__subtitle-text {
    position: relative;
    background-color: $black;
    z-index: 5;
    padding-right: 10px;


}

.error404__subtitle-arrow {
    z-index: -1;
    position: absolute;
    right: -100px;
    top: 50%;

    @media (max-width: 1279px) {
        
    }

    @media (max-width: 999px) {
        display: none;
    }
}

