.intro {
    height: 100vh;
    background-color: $black;

    padding-top: 67px;
    padding-bottom: 100px;
    position: relative;

    @media (max-width: 1000px) {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    @media (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 72px;
    }

    @media (max-width: 480px) {
        padding-top: $menu-mobile-height;
    }
}

.intro__logo {
    margin-left: calc(#{$menu-padding} + 45px);
}

.intro__logo-img {
    @media (max-width: 768px) {
        width: 80px;
    }

    @media (max-width: 480px) {
        display: none;
    }

}

/* .intro__content-header {
    margin-top: 150px;
    font-size: 75px;
    max-width: 600px;
    color: $white;

    @media (max-width: 1000px) {
        font-size: 65px;   
    }

    @media (max-width: 768px) {
        margin-top: 120px;  
    }

    @media (max-width: 480px) {
        font-size: 45px; 
        margin-top: 150px;  
    }
} */



