.menu {
    width: 70px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    background-color: $white;

    border-right: 1px solid $black;

    @media (max-width: 767px) {
        width: 100%;
        height: $menu-mobile-height;
        padding-left: 50px;
        padding-right: 30px;

        justify-content: flex-end;

        border-right: none;        
        border-bottom: 1px solid $black;
    }

    @media (max-width: 479px) {
        padding-right: 25px;
        padding-left: 25px;
        height: $menu-mobile-height-sm;   
    }
}

.menu__logo {
    position: fixed;
    top: 20px;
    left: 10px;

    @media (max-width: 767px) {
        left: 40px;
        top: 25px;
    }

    @media (max-width: 479px) {
        left: 25px;
        top: 25px;
    }
}

.menu__logo-img {
    width: 50px;

    transform: translate3d(-200%, 0, 0);

    transition: transform .3s ease-out;

    &--active {
        transform: translate3d(0, 0, 0);
    }

    @media (max-width: 767px) {
        transform: translate3d(0, 0, 0);
        width: 60px;
    }

    @media (max-width: 479px) {
        width: 40px;
    }
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-top: 79px;
    padding-bottom: 86px;

    overflow-y: auto;

    background-color: $black;
    position: fixed;
    left: $menu-padding;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);

    transform: translate3d(-100%, 0, 0);

    @media (max-width: 767px) {
        justify-content: flex-start;
        &--contact {
            padding-top: 79px;
            padding-bottom: 86px;
        }
    }
    
    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 55px;

        left: 0;
        top: $menu-mobile-height;
        right: 0;
        bottom: 0;

        transform: translate3d(0, -150%, 0);
    }

    @media (max-width: 479px) {
        top: $menu-mobile-height-sm;
    }

    &--active {
        transform: translate3d(0, 0, 0);
    }

}

.menu__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    &--contact {
        align-items: flex-start;

        @media (max-width: 999px) {
            justify-content: space-between;
            width: 100%;
        }

        @media (max-width: 767px) {
            align-items: center;
        }
    }
}

.menu-wrapper__logo {
    position: absolute;
    left: 30px;
    top: 40px;
    opacity: 1;

    @media (max-width: 767px) {
        display: none;
    }
}

.menu-wrapper__btn {
    border: none;
    background-color: transparent;

    position: absolute;
    right: 60px;
    top: 60px;
    padding: 20px;

    cursor: pointer;


    &:before {
        content: '';
        display: block;
        
        width: 30px;
        height: 2px;
        background-color: $white;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0) rotate(-45deg);

        transition: width .1s ease-out;
    }

    &:after {
        content: '';
        display: block;
        
        width: 30px;
        height: 2px;
        background-color: $white;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate3d(-50%, -50%, 0) rotate(45deg);

        transition: width .1s ease-out;
    }

    &:focus {
        outline: none;
        &:before {
            width: 25px;
        }

        &:after {
            width: 25px;
        }
    }

    &--contact {
        right: 30px;
        top: 30px;
    }

    @media (max-width: 999px) {
        top: 50px;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.menu-wrapper__logo-img {
    width: 100px;

    @media (max-width: 1279px) {
        width: 90px;
    }

    @media (max-width: 999px) {
        width: 80px;
    }
}


.menu-col {
    display: flex;
    flex-direction: column;
    
    margin-right: 179px;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 999px) {
        margin-right: 80px;
    }

    @media (max-width: 999px) {
        &--contact {
            align-items: center;
            margin-right: 0;
        }

        &--address {
            max-width: 250px;
        }
    }

    @media (max-width: 479px) {
        &--address {
            flex-direction: row;
            max-width: none;
            width: 100%;
            align-items: center;

            justify-content: space-between;
        }
    }
}

.nav__link {
    padding-top: 25px;
    padding-bottom: 25px;

    font-size: 25px;
    color: $white;

    &:hover {
        color: inherit;
        text-decoration: none;
        color: $white;

        & span {
            &:after {
                width: 100%; 
            }
        }
    }

    & span {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background-color: $white;
            
            position: absolute;
            bottom: -5px;
            left: 0;

            transition: width .3s cubic-bezier(0.37, 0, 0.63, 1);;
        }
    }

    @media (max-width: 767px) {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media (max-width: 479px) {
        font-size: 18px;
    }
}

.menu__socials {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @media (max-width: 999px) {
    }

    @media (max-width: 767px) {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
    }

    &--contact {
        @media (max-width: 767px) {
            flex-direction: row;
        }
        @media (max-width: 479px) {
            flex-direction: column;
        }
        
    }

    &--desktop-hidden {
        display: none;
        align-self: center;

        @media (max-width: 479px) {
            display: flex;
        }
    }

    &--mobile-hidden {
        @media (max-width: 479px) {
            display: none;
        }
    }

    &--one-project {
        @media (max-width: 999px) {
            flex-direction: column;
            align-self: center;
        }

        @media (max-width: 767px) {
            margin-top: 57px;
            flex-direction: row;
            align-self: center;
        }

        @media (max-width: 479px) {
            flex-direction: column;
        }
    }

    &--one-news {
        margin-top: 0;
        margin-right: 150px;

        @media (max-width: 1279px) {
            margin-right: 100px;
        }

        @media (max-width: 999px) {
            margin-right: 0px;
        }
    }

    &--all-projects, &--all-news {
        justify-content: flex-start;
        margin-top: 60px;
        margin-right: 0;

        @media (max-width: 767px) {
            flex-direction: row;
        }

        @media (max-width: 479px) {
            margin-top: 30px;
            flex-direction: column;
        }
    }
}