.news__header {
    padding-bottom: 81px;

    background-color: $white;

    @media (max-width: 1279px) {
        padding-bottom: 50px;
    }

    @media (max-width: 999px) {
        padding-bottom: 78px;
    }

    @media (max-width: 767px) {
        padding-bottom: 54px;
    }

    @media (max-width: 479px) {
        padding-bottom: 47px;
    }
}

.news__content {
    position: relative;
    z-index: 6;
}

.news-round-wrapper {
    position: relative;
    width: 100%;  

    &:before {
        content: "";
        display: block;
        width: 35px;
        height: 35px;
        border: 2px solid $black;
        border-radius: 50%;
        background-color: $blue;
        
        position: absolute;
        top: 0;
        z-index: 3;
        left: calc(50% + 570px);
    }

    &:after {
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        
        background-color: $black;

        position: absolute;
        top: 0;
        left: calc(50% + 585px);
        z-index: 1;
    }

    @media(max-width: 1279px) {
        &:before {
            top: -30px;
            left: calc(50% + 430px);
        }
        
        &:after {
            top: -30px;
            left: calc(50% + 447px);
        }
    }

    @media(max-width: 999px) {
        display: none;
    }
}