.news {
    background-color: $black;
}

.news__header {
    padding-top: 107px;
    padding-bottom: 81px;

    background-color: $white;

    @media (max-width: 1279px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 999px) {
        padding-top: 91px;
        padding-bottom: 78px;
    }

    @media (max-width: 767px) {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    @media (max-width: 479px) {
        padding-top: 63px;
        padding-bottom: 47px;
    }
}

.news__content {
    position: relative;
    z-index: 6;
}