.notice {
    width: 581px;
    height: 581px;
    padding: 100px 36px 50px 74px;

    background-color: $black;
    border: 2px solid $white;
    position: absolute;
    top: -40%;
    left: calc(50% + 30px);
    z-index: 500;

    transform: translate3d(0, 50%, 0);

    overflow: hidden;

    @media (max-width: 1279px) {
        width: 394px;
        left: calc(50% + 90px);
    }

    @media (max-width: 999px) {
        position: static;
        width: 100%;
        height: auto;
        border: none;

        padding-left: $menu-padding;

        @media (max-width: 1200px) {
            padding-left: $menu-padding * 2;
            padding-right: $menu-padding;
        }

        @media (max-width: 999px) {
            margin-top: 50px;
            padding-top: 73px;
            padding-bottom: 87px;

            transform: translate3d(0, 0, 0);
        }
    
        @media (max-width: 767px) {
            padding-top: 30px;
            padding-bottom: 45px;
            padding-left: $menu-padding / 2;
            padding-right: $menu-padding / 2;
        }
    
        @media (max-width: 479px) {
            padding-left: $menu-padding / 3;
            padding-right: $menu-padding / 3;
        }
    }

    &--footer {
        display: none;

        @media (max-width: 479px) {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
        } 
        
    }
}

.notice-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: 999px) {
        flex-direction: row;
        justify-content: space-between;
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }
}   

.notice__title {
    margin-bottom: 30px;

    color: $white;
    font-family: Hyundai Sans Head Office;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;

    @media (max-width: 1279px) {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 70px;
    }

    @media (max-width: 999px) {
        margin-bottom: 0;
        max-width: 410px;
    }
    
    @media (max-width: 479px) {
        font-size: 36px;
        line-height: 44px;
    }

    &--all-projects, &--all-news {
        max-width: 540px;
        margin-top: 60px;
        margin-bottom: 60px;

        @media (max-width: 1279px) {
            max-width: 415px;
        }

        @media (max-width: 999px) {
            margin-top: 40px;
            margin-bottom: 55px;
        }

        @media (max-width: 767px) {
            margin-top: 30px;
            margin-bottom: 50px;

            font-size: 40px;
        }

        @media (max-width: 479px) {
            margin-bottom: 30px;
            font-size: 36px;
            max-width: 180px;
        }
    }

    &--all-projects {
        color: $black;
    }
    &--all-news {
        color: $white;
    }

}