.one-project {
    background-color: $black;

    color: $white;

    justify-content: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: 1279px) {
        padding-bottom: 105px;
    }

    @media (max-width: 999px) {
        padding-bottom: 95px;
    }

    @media (max-width: 767px) {
        padding-top: 140px;
    }

    @media (max-width: 479px) {
        padding-top: 120px;
        padding-bottom: 53px;
    }
}

.one-project__title {
    font-weight: 400;
    font-size: 81px;
    

    @media (max-width: 1279px) {
        font-size: 69px;
    }
    
    @media (max-width: 999px) {
        font-size: 50px;
    }
    
    @media (max-width: 767px) {
        font-size: 36px;
        line-height: 44px;

        &--one-news {
            font-size: 40px;
        }
    }   
    
    @media (max-width: 479px) {
        font-size: 25px;
        line-height: 30px;

        &--one-news {
            font-size: 36px;
        }
    }
}

.one-project__text {
    margin-top: 70px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;

    & p {
        margin-bottom: 0;
    }

    @media (max-width: 1279px) {
        margin-top: 75px;

        &--one-news {
            font-size: 20px;
        }
    }
    
    @media (max-width: 999px) {
        margin-top: 90px;
    }
    
    @media (max-width: 767px) {
        font-size: 18px;
        margin-top: 45px;

        &--one-news {
            font-size: 18px;
        }
    }   
    
    @media (max-width: 479px) {
        font-size: 17px;
        line-height: 20px;
        margin-top: 35px;

    }
}

.one-project__img {
    margin-top: 80px;

    width: 100%;
    height: auto;

    @media (max-width: 1279px) {
        margin-top: 60px;
    }
    
    @media (max-width: 999px) {
        margin-top: 100px;
    }
    
    @media (max-width: 767px) {
        margin-top: 40px;
    } 
}

.one-project__footer {
    margin-top: 116px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1279px) {
        margin-top: 91px;
    }
    
    @media (max-width: 999px) {
        margin-top: 100px;
    }
    
    @media (max-width: 767px) {
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 479px) {
        margin-top: 30px;
    }
}

.one-project__footer-title {
    font-size: 81px;

    @media (max-width: 767px) {
        font-size: 70px;
    }

    @media (max-width: 479px) {
        font-size: 50px;
    }
}

.one-project__footer-btns {
    display: flex;
    flex-direction: column;

    align-items: center;

    @media (max-width: 767px) {
        margin-top: 50px;
    }

    @media (max-width: 479px) {
        margin-top: 40px;
    }
}