.projects {
    padding-top: 110px;
    padding-bottom: 100px;

    background-color: $black;

    @media (max-width: 1279px) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @media (max-width: 999px) {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    @media (max-width: 767px) {
        padding-bottom: 60px;
    }

    @media (max-width: 479px) {
        padding-top: 20px;
    }
}