.projects, .news__content {
    padding-top: 110px;
    padding-bottom: 100px;

    background-color: $black;

    @media (max-width: 1279px) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @media (max-width: 999px) {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    @media (max-width: 767px) {
        padding-bottom: 60px;
    }

    @media (max-width: 479px) {
        padding-top: 20px;
    }
}

.projects {
    position: relative;
}

.news__content {
    padding-bottom: 125px;

    @media (max-width: 1279px) {
        padding-bottom: 80px;
    }

    @media (max-width: 999px) {
        padding-bottom: 90px;
    }

    @media (max-width: 767px) {
        padding-bottom: 76px;
    }

    @media (max-width: 479px) {
        padding-bottom: 40px;
    }
}
