.solutions {
    padding-top: 130px;
    padding-bottom: 100px;

    overflow: hidden;

    @media (max-width: 999px) {
        padding-bottom: 78px;
    }

    @media (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 91px;
    }

    @media (max-width: 479px) {
        padding-top: 68px;
        padding-bottom: 40px;
    }
}


.solutions__header {
    font-weight: 400;
    font-size: 81px;
    line-height: 85px;
    color: $black;

    @media (max-width: 1279px) {
        font-size: 70px;
        line-height: 80px;
    }

    @media (max-width: 999px) {
        font-size: 50px;
        line-height: 65px;
    }

    @media (max-width: 767px) {
        font-size: 40px;
        line-height: 55px;
        max-width: 550px;
    }

    @media (max-width: 479px) {
        font-size: 36px;
        line-height: 44px;
    }

    
}

.solutions__subtitle {
    margin-top: 51px;

    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: $black;

    @media (max-width: 767px) {
        margin-top: 31px;
        max-width: 550px;
    }

    @media (max-width: 479px) {
        margin-top: 71px;
    }
}