.round-wrapper {
    position: relative;
}

.round {
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    
    position: absolute;
    top: 0px;
    left: 0px; 
    z-index: 500;

    &--transition {
        transition: transform .3s ease-out;
    }

    transform: translate3d(-45%, 0, 0);
}

.vline-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;

        &--tagline {
            flex-direction: column-reverse;
        }
    }
}

.vline {
    display: block;
    width: 2px;
    height: 5000px;
    background-color: $black;

    position: absolute;
    top: 10px;
    left: 0;
    z-index: 300;

    @media (max-width: 767px) {
        top: 1px;
    }

    &--top-offset {
        top: -2000px;
    }

    &--rotate {
        transform-origin: 50% 0 0;
        transform: rotate(180deg);
    }

    &--white {
        background-color: white;
    }

    &--qualities {
        background-color: $white;
        top: 0px;
        z-index: 301;
    }

    &--tagline {
        background-color: $black;
        top: 0px;
        z-index: 302;
        height: 200px;
    }
}



.vline-descr {
    width: 721px;  
    position: relative;
    
    @media (max-width: 999px) {
        width: 340px;
    }

    @media (max-width: 767px) {
        width: 100%;

        &--solutions {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}

.vline-titles {
    padding-left: $vline-titles-pl;
    position: relative;
    width: 413px;
    margin-left: 64px;

    &--qualities {
        padding-top: 20px;
    }

    @media (max-width: 1279px) {
        padding-left: $vline-titles-pl-1279;
        width: 272px;
    }

    @media (max-width: 999px) {
        width: 200px;
    }

    @media (max-width: 767px) {
        width: 320px;
        padding-left: $vline-titles-pl-767;
        margin-left: 50px;
        margin-top: 30px;

        &--qualities {
            margin-top: 150px;
            padding-left: $vline-titles-pl-1279;
        }
    }

    @media (max-width: 479px) {
        margin-left: 0;
        padding-left: $vline-titles-pl-479;
        max-width: 200px;
        &--qualities {
            margin-top: 150px;
            padding-left: $vline-titles-pl-479;
        }
    }
    
}


.vline-titles__el {
    margin-bottom: 47px;

    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: $black;

    position: relative;

    &:first-child {
        margin-bottom: 112px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;

        background-color: #A4A4A4;
        border-radius: 50%;

        position: absolute;
        left: -$vline-titles-pl;
        top: 10px;
        z-index: 500;
        transform: translate3d(-40%, 0, 0);

        transition: background-color .1s ease-in;
    }

    &--qualities, &--tagline {
        line-height: 30px;
        &:before {
            top: 10px;
            transform: translate3d(-40%, 0, 0);
        }
    }

    &--qualities {
        margin-bottom: 102px;
        color: rgba(255, 255, 255, 0.3);

        &:before {
            background-color: $white;
        }

        @media (max-width: 1279px) {
            margin-bottom: 70px;
        }
    }

    &--tagline {
        padding-top: 80px;
        &:before {
            left: -$vline-titles-pl;
            top: 0;
            width: 35px;
            height: 35px;
            border: 2px solid #000;
            background-color: $blue;
        }
        
    }

    &--round {
        display: none;
    }

    &--active {

        &:before {
            background-color: #5492CE;
        }
    }


    @media (max-width: 1279px)  {
        font-size: 20px;
        
        &:before {
            left: -$vline-titles-pl-1279;
            top: 7px;
        }
    }

    @media (max-width: 999px) {
        &:first-child {
            margin-bottom: 82px;
        }
    }

    @media (max-width: 767px) {

        &:first-child {
            &:before {
                top: 0;
                transform: translate3d(-40%, 0, 0);
            }
        }

        &:before {
            left: -$vline-titles-pl-767;
        }

        &--qualities {
            &:before {
                left: -$vline-titles-pl-1279;
            }
        }

        &--tagline {
            padding-top: 0;
            & span {
                display: none;
            }
        }
    }

    @media (max-width: 479px) {
        &:before {
            left: -$vline-titles-pl-479;
        }        
    }

}

.vline-titles h2:last-of-type {
    margin-bottom: 0;
}


.vline-titles__el--active.vline-titles__el--qualities {
    color: #ffffff;

    transition: color .1s linear;
}