@import "base/fonts.scss";
@import "base/variables";
@import "base/mixins";
@import "libs/hamburgers/hamburgers";
@import "libs/swiper/swiper";

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    color: $white;
    margin: 0;
    font-family: Hyundai Sans Head Office;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: $menu-padding;

    @media (max-width: 1200px) {
        padding-left: $menu-padding * 2;
        padding-right: $menu-padding;
    }

    @media (max-width: 767px) {
        padding-left: $menu-padding / 2;
        padding-right: $menu-padding / 2;
    }

    @media (max-width: 479px) {
        padding-left: $menu-padding / 3;
        padding-right: $menu-padding / 3;
    }

    &--footer {
        @media (max-width: 1279px) {
            padding-left: $menu-padding * 1.5;
            padding-right: $menu-padding / 2;
        }

        @media (max-width: 767px) {
            padding-left: $menu-padding / 2;
            padding-right: $menu-padding / 2;
        }

        @media (max-width: 479px) {
            padding-left: $menu-padding / 3;
            padding-right: $menu-padding / 3;
        }
    }

    &--contact {
        @media (max-width: 999px) {
            padding-left: $menu-padding / 2;
            padding-right: $menu-padding / 2;
        }

        @media (max-width: 479px) {
            width: 100%;
            padding-left: $menu-padding / 7;
            padding-right: $menu-padding / 7;

        }
    }

    &--one-project {
        padding-left: $menu-padding;
        padding-right: $menu-padding / 2;

        @media (max-width: 1279px) {
            padding-left: $menu-padding * 1.5;
            padding-right: $menu-padding / 2;
        }

        @media (max-width: 767px) {
            padding-left: $menu-padding / 2;
            padding-right: $menu-padding / 2;
        }
    }

    &--all-projects, &--all-news {
        @media (max-width: 1279px) {
            padding-left: $menu-padding * 1.5;
            padding-right: $menu-padding / 2;
        }

        @media (max-width: 767px) {
            padding-left: $menu-padding / 2;
            padding-right: $menu-padding / 2;
        }
    }
    
}

.no-scroll {
    overflow: hidden;
}

/* Blocks */
@import "blocks/title";
@import "blocks/menu";
@import "blocks/burger";
@import "blocks/intro";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/solutions";
@import "blocks/vline";
@import "blocks/qualities";
@import "blocks/tagline";
@import "blocks/projects";
@import "blocks/coop";
@import "blocks/card";
@import "blocks/news";
@import "blocks/team";
@import "blocks/notice";
@import "blocks/clients";
@import "blocks/footer";
@import "blocks/contact";
@import "blocks/contacts";
@import "blocks/one-project";
@import "blocks/one-news";
@import "blocks/section";
@import "blocks/error404";



@media (max-width: 1279px) {

}

@media (max-width: 999px) {

}

@media (max-width: 767px) {
    
}

@media (max-width: 479px) {
    
}

@media (max-width: 320px) {
    
}